/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

.square {
	@apply aspect-square;
	border-radius: 5%;
	width: 100%;
	height: 100%;
}
